<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#FF5252</string>
	<string>#E91E63</string>
	<string>#9C27B0</string>
	<string>#673AB7</string>
	<string>#3F51B5</string>
	<string>#2196F3</string>
	<string>#03A9F4</string>
	<string>#00BCD4</string>
	<string>#009688</string>
	<string>#4CAF50</string>
	<string>#8BC34A</string>
	<string>#CDDC39</string>
	<string>#FFC107</string>
	<string>#FF9800</string>
	<string>#FF5722</string>
	<string>#795548</string>
	<string>#607D8B</string>
</array>
</plist>
